html{
  font-size: 18px;
}

$main-color:#52A39A;
$index-color:white;
// #52A39Aの中の文字のこと

.header{
  background-color: $main-color;

}


.header-inner{
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: $index-color ;

}

.page-title{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-nav{
  display:none;
  padding: 10px 75px;
}

.header-nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li{
    color: $index-color;
    font-family :Helvetica;
    padding:10px 15px 15px ;
    a{
      font-size: 1rem;
      margin:10px 15px 15px;
    }
  }
}

@media (min-width: 960px) {


  .header-inner{
    font-size:2.5rem;
  }

  .phone-icon{
    opacity: 0;
    pointer-events: none;

  }

  .header-nav{
    display: block;
  }

}