html{
  font-size: 18px;
}

$main-color:#52A39A;
$index-color:white;
// #52A39Aの中の文字のこと

.header{
  background-color: $main-color;

}


.header-inner{
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: $index-color ;

}

.page-title{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-nav{
  display:none;
  padding: 10px 75px;
}

.header-nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li{
    color: $index-color;
    font-family :Helvetica;
    padding:10px 15px 15px ;
    a{
      font-size: 1rem;
      margin:10px 15px 15px;
    }
  }
}

@media (min-width: 960px) {


  .header-inner{
    font-size:2.5rem;
  }

  .phone-icon{
    opacity: 0;
    pointer-events: none;

  }

  .header-nav{
    display: block;
  }

}



// エージェント情報が乗っているカード
.agent-card{

  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  padding: 30px 15px;


  width: 95%;
  // border: solid 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);


  .agent-card-agent-name{
    font-size: 2rem;
    color: $main-color;
    margin-bottom:20px;
    font-weight:bold;

    h3{
      text-align: center;
    }

  }




  .agent-card-image{
    width: 100%;
    margin-bottom:20px;

    img{
      width: 100%;
    }
  }

  .agent-card-tags-area{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:20px;


    .agent-card-tag{
      border: solid #CCCCCC;
      border-radius:5px;
      margin-right:10px;
      padding: 1% 3%;

    }
  }

  .agent-card-star-evaluation{


  }

  

  .argent-card-info-text{
    // border: solid;
    margin-bottom:20px;

  }

  .argent-card-btns{



  }

}




.agent-card-star-evaluation-table{

  margin-bottom:20px;

  table{

    border-collapse: collapse;
    width: 100%;
    border:solid 1px #CCCCCC;

    tr{
      border:solid 1px #CCCCCC;
      
      td{
        
        border:solid 1px #CCCCCC;
        font-size:1.2rem;
        color: black;
        padding:5px;

        p{
          // font-size: 1rem;
          text-align:center;
        };
      }
      .star-evaluation{
        color: $main-color;

      }
    }

  }

}



// .argent-card-btns{

//   display: flex;
//   justify-content: space-between;
//   width: 100%;

//   margin-bottom:20px;

//   div{
//     width: 45%;
//     box-shadow: 0 2px 4px rgba(0,0,0,0.3);
//     border-radius:3px;
//   }

//   .put-into-inquiry-box{
//     background-color:#FFAB40;
//     color: white;
//   }

//   .view-more-info{
//     background-color: $main-color;
//     color: $index-color;

//   }


// }


.argent-card-btns{
  width: 100%;

  div{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius:3px;
    margin-bottom:20px;

    padding: 15px 0px;


    p{
      text-align: center;
    }
  }

  .put-into-inquiry-box{
    background-color:#FFAB40;
    color: white;
  }
  .put-out-of-inquiry-box{
    background-color: white;
    color: #FFAB40;
  }

  .view-more-info{
    background-color: $main-color;
    color: $index-color;

  }

}


section{

  width: 100%;

  .section-title{
    background-color: $main-color;
    width: 100%;
  
    p{
      color: $index-color;
      font-size:2rem;
      margin-left: 2.5%;
      // text-align: center;
    }
    
  }
  
  .section-content{
    margin: 0 auto;
    width: 95%;
    
  }

}



.search-result{

  .section-content{

    .search-result-discription{
      width: 95%;
      margin: 0px auto;
      margin-top: 30px;
    }


    .number-of-cards{
      color: $main-color;
      font-size: 2rem;
    }

    .number-of-cards-ja{

    }

    .put-in-all-all-agents{
      width: 95%;
      margin-top: 30px;
      margin: 0 auto;
      display: flex;

      #allAgents{
        display:none;
      }

    }


  }

}




/* チェックボックス01 */
#allAgents{
  display: none;
}
.checkbox01 {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}
.checkbox01::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox01::after {
  border-right: 3px solid #ed7a9c;
  border-bottom: 3px solid #ed7a9c;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}
input[type=checkbox]:checked + .checkbox01::after {
  opacity: 1;
}