html{
  font-size: 18px;
}

$main-color:#52A39A;
$index-color:white;
// #52A39Aの中の文字のこと

.header{
  background-color: $main-color;

}


.header-inner{
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: $index-color ;

}

.page-title{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header-nav{
  display:none;
  padding: 10px 75px;
}

.header-nav-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li{
    color: $index-color;
    font-family :Helvetica;
    padding:10px 15px 15px ;
    a{
      font-size: 1rem;
      margin:10px 15px 15px;
    }
  }
}

@media (min-width: 960px) {


  .header-inner{
    font-size:2.5rem;
  }

  .phone-icon{
    opacity: 0;
    pointer-events: none;

  }

  .header-nav{
    display: block;
  }

}





.How-to{
  &__cards{

    
    &__four{
      width: 100%;
      
    }
    &__two{
      display:flex;
      justify-content:space-around;
      margin: 5% 0;
    }
  }

  &__card{
    width: 45%;
    img{
      width: 100%;
    }
  }
}

// エージェント情報が乗っているカード
.agent-card{

  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 15px;
  width: 95%;
  // border: solid 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);


  .agent-card-agent-name{
    font-size: 2rem;
    color: $main-color;
    margin-bottom:20px;
    font-weight:bold;

    h3{
      text-align: center;
    }

  }


  .agent-card-image{
    width: 100%;
    margin-bottom:20px;

    img{
      width: 100%;
    }
  }

  .agent-card-tags-area{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:20px;


    .agent-card-tag{
      border: solid #CCCCCC;
      border-radius:5px;
      margin-right:10px;
      margin-bottom: 10px;
      padding: 3px 5px;

    }
  }

  .argent-card-info-text{
    // border: solid;
    margin-bottom:20px;

  }


}




.agent-card-star-evaluation-table{

  margin-bottom:20px;

  table{

    border-collapse: collapse;
    width: 100%;
    border:solid 1px #CCCCCC;

    tr{
      border:solid 1px #CCCCCC;
      
      td{
        
        border:solid 1px #CCCCCC;
        font-size:1.2rem;
        color: black;
        padding:5px;

        p{
          // font-size: 1rem;
          text-align:center;
        };
      }
      .star-evaluation{
        color: $main-color;

      }
    }

  }

}



// .argent-card-btns{

//   display: flex;
//   justify-content: space-between;
//   width: 100%;

//   margin-bottom:20px;

//   div{
//     width: 45%;
//     box-shadow: 0 2px 4px rgba(0,0,0,0.3);
//     border-radius:3px;
//   }

//   .put-into-inquiry-box{
//     background-color:#FFAB40;
//     color: white;
//   }

//   .view-more-info{
//     background-color: $main-color;
//     color: $index-color;

//   }


// }


.argent-card-btns{
  width: 100%;

  div{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius:3px;
    margin-bottom:20px;

    padding: 15px 0px;


    p{
      text-align: center;
    }
  }

  .put-into-inquiry-box{
    background-color:#FFAB40;
    color: white;
  }
  .put-out-of-inquiry-box{
    background-color: white;
    color: #FFAB40;
  }

  .view-more-info{
    background-color: $main-color;
    color: $index-color;

  }

}


.Section{

  width: 100%;
  margin: 30px 0px;

  &__title{
    background-color: $main-color;
    width: 100%;
    margin-bottom: 30px;
  
    p{
      color: $index-color;
      font-size:2rem;
      margin-left: 2.5%;
      // text-align: center;
    }
    
  }
  
  &__content{
    margin: 0 auto;
    width: 95%;
    
  }

}



// 検索結果エリアの上の方のメッセージ

.Search-result__message{
  width: 95%;
  margin: 0px auto;

    &__number{
      // width: 95%;
      // margin: 0px auto;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    &__figure{
      color: $main-color;
      font-size: 2rem;
    }
    &__tags{
      display:flex;
      flex-wrap: wrap;
      margin-bottom:20px;

      .Search-result__message__tag{
        border: solid #CCCCCC;
        border-radius:5px;
        margin-right:10px;
        margin-bottom: 10px;
        padding: 3px 5px;
      }
      
    }
    &__check-all{
      // width: 95%;
      // margin: 0 auto;
      margin-top: 30px;
      display: flex;
    }
    
  }




.Search-result__check-all{

  &__wrapper{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size:1.25rem;

  }

    &__wrapper{
      input{
        display: none;
      }

    }

    &__wrapper &__checkbox-icon{
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: solid #C4C4C4;
      border-radius: 8px;
      background: white;
      box-sizing: border-box;
    }
    
    &__wrapper &__checkbox-icon:after{
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: 2px solid #FFF;
      border-radius: 8px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &__wrapper input:checked + &__checkbox-icon{
      background-color: $main-color;
      border: solid $main-color;
      border-radius: 8px;

    }

    &__wrapper input:checked + &__checkbox-icon:after {
      display: block;

    }

}




.Section__inner-heading{


  margin: 30px 0px;

  padding:8px;

  border-left: 3px solid $main-color;

  p{
    font-size:1.5rem;
  }

}




.Search__tag__wrapper{

  display:flex;
  flex-wrap: wrap;
  margin-bottom:20px;

  .Search__tag{
    margin-right:10px;
    margin-bottom:10px;
    input[type="checkbox"]#searchTag{
      display:none;
    }
    .Search__tag__label{
      border: solid #CCCCCC;
      font-size: 1rem;
      border-radius:5px;
      padding: 3px 5px;

    }
    input[type="checkbox"]#searchTag:checked + label{
    background:$main-color;
    color:white;
    border: solid $main-color;
    }
    


  }

}

.Search__btn{
  text-align:center;

  button{
    background-color:$main-color;
    color: white;
    padding:10px 80px;
    border-radius: 10px;
    border: solid 1px $main-color;

    span{
      font-weight: bold;
    }

  }


}


.Agent-card__wrapper__mini{

  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px 15px;

  width: 95%;
  // border: solid 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);

  .agent-card-image{
    width: 100%;
    margin-bottom:15px;

    img{
      width: 100%;
    }
  }

  .agent-card-agent-name{
    color: $main-color;
    // margin-bottom:15px;
    font-weight:bold;
    font-size: 1.5em;
    
    h3{
      text-align: center;
    }

  }

}



// エージェント詳細ページ
.Agent-page__last-update{
  display: flex;
  justify-content: flex-end; 
}
.agent-card-image{
  width: 100%;
  margin-bottom:20px;

  img{
    width: 100%;
  }
}



.Agent-page__inquiry-btn{
  width: 65%;
  margin: 0 auto;
  div{
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius:3px;
    margin-bottom:20px;

    padding: 15px 0px;


    p{
      text-align: center;
    }
  }

  .put-into-inquiry-box{
    background-color:#FFAB40;
    color: white;
  }
  .put-out-of-inquiry-box{
    background-color: white;
    color: #FFAB40;
  }

}





.Small-heading{
// セクション内の小見出し
&__heading{
  margin: 30px 0px;
  padding:8px;
  border-left: 3px solid $main-color;

  p{
    font-size:1.25rem;
  }

}

// セクション内の小見出しに、必須マーク付けるために
&__heading-essential{
  display: flex;
  align-items: center;
}

// 必須マーク
&__essential-mark{
  display: flex;
  align-items: center;
  background: #FFAB40;
  height: 30px;
  margin-left:30px;

}



}

.Application {

  &__box__trash{
    width: 95%;
    margin: 0 auto;
    font-size:1.5rem;
    display: flex;
    justify-content: flex-end;
    i{
      transform: translate(0,100%);
    }
  }

}


$radio-background-color: #ffffff;

.Application-form__radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .Application-form__radio__label {
      &:before {
        content: '';
        background: $radio-background-color;
        border-radius: 100%;
        border: 1px solid #C4C4C4;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .Application-form__radio__label {
        &:before {
          background-color: $main-color;
          box-shadow: inset 0 0 0 4px $radio-background-color;
        }
      }
    }
    &:focus {
      + .Application-form__radio__label {
        &:before {
          outline: none;
          border-color: $main-color;
        }
      }
    }
    &:disabled {
      + .Application-form__radio__label {
        &:before {
          box-shadow: inset 0 0 0 4px $radio-background-color;
          border-color: #C4C4C4;
          background: #C4C4C4;
        }
      }
    }
    + .Application-form__radio__label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}


.Application-form{


  width: 95%;
  margin: 0 auto;

  &__back-button{
    display:flex;
    color: $main-color;
    font-size:1.5rem;
    i{
      margin-right: 20px;
    }
  }

  &__example{
    color: #CCCCCC;
    margin-top: 5px;
  }


  &__input__glay-border{
    border: solid #C4C4C4 2px;
    border-radius:10px;

    width: 100%;
    margin: 0 auto;
  }
  
  &__privacy-policy{
    padding: 3%;
  }

  // &__privacy-cb{

    
  // }
  
  &__privacy-message{
    color: rgba(0, 0, 0, 0.65);
    margin-top: 10px;
  }


  &__submit-btn__wrapper{
    width: 100%;
    
  }
  
  &__submit-btn{
    
    width: 60%;
    margin: 40px auto;
    background: $main-color;
    height: 50px;
    border-radius: 15px;
    position: relative;
    
    input[type="submit"]{
      position: absolute;
      color: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      
  }
  
  }


}



.Application-form__privacy-cb{

  margin-top: 5px;
  padding: 2%;

  &__wrapper{
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    font-size:1.25rem;
  }

    &__wrapper{
      input{
        display: none;
      }

    }

    &__wrapper &__checkbox-icon{
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: solid #C4C4C4;
      border-radius: 8px;
      background: white;
      box-sizing: border-box;
    }
    
    &__wrapper &__checkbox-icon:after{
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: 2px solid #FFF;
      border-radius: 8px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &__wrapper input:checked + &__checkbox-icon{
      background-color: $main-color;
      border: solid $main-color;
      border-radius: 8px;

    }

    &__wrapper input:checked + &__checkbox-icon:after {
      display: block;

    }

}








.Check{
  width: 95%;
  margin: 0 auto;

  &__message-text{
    width: 95%;
    margin: 30px auto;
    p{
      font-size:1rem;
    }
  }

  &__info{
    margin: 0 auto;
    background: #F4F4F4;
    border: solid #CCCCCC;

    &__line{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__item{
      margin:10px 30px;
      font-weight: bold;
    }
    &__writing{
      margin:10px 30px;
      color:#5F5F5F;
    }
    
  }


}


.Finish{

  &__message{
    box-shadow:0 0 10px #fff, 0 0 10px #ccc, 0 0 1px #aaa;
    padding: 20px;
    width: 95%;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  p{
    margin:10px 0;
  }
}